# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.DS_Store
# dependencies
kuma/node_modules
kuma/.pnp
kuma/.pnp.js
kuma/.yarn/install-state.gz

# testing
kuma/coverage

# next.js
kuma/.next/
kuma/out/

# production
kuma/build

# misc
kuma/.DS_Store
kuma/*.pem

# debug
kuma/npm-debug.log*
kuma/yarn-debug.log*
kuma/yarn-error.log*

# local env files
kuma/.env*.local

# vercel
kuma/.vercel

# typescript
kuma/*.tsbuildinfo
kuma/next-env.d.ts

# Foundry
contracts/cache/
contracts/out/
contracts/broadcast/
contracts/lib/

# Dotenv file
contracts/.env

# Binaries for programs and plugins
bundler/*.exe
bundler/*.exe~
bundler/*.dll
bundler/*.so
bundler/*.dylib

# Test binary, built with `go test -c`
bundler/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
bundler/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# misc
bundler/.DS_Store
bundler/tmp
bundler/.env
